# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Jupyter Notebook
.ipynb_checkpoints

# Ignore everything in data folder except specific subdirectories
datasets/*
!datasets/download_flickr30k.sh
!datasets/readme.txt

gallery/*
!gallery/readme.txt

# Ignore .pth files in deployment folder
deployment/*.pth

# Ignore faiss index files in gallery folder
gallery/*.faiss


# Ignore all logs
logs/

# VS Code
.vscode/

# Cache files
.cache/